.user_page {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .menu {
    min-height: 700px;
    width: 250px;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    min-height: 700px;
    width: 900px;
  }
}
